@charset "UTF-8";
@font-face {
  font-family: "UbuntuRegular";
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"), url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuBold";
  src: url("../fonts/UbuntuBold/UbuntuBold.eot");
  src: url("../fonts/UbuntuBold/UbuntuBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBold/UbuntuBold.woff") format("woff"), url("../fonts/UbuntuBold/UbuntuBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuItalic";
  src: url("../fonts/UbuntuItalic/UbuntuItalic.eot");
  src: url("../fonts/UbuntuItalic/UbuntuItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuItalic/UbuntuItalic.woff") format("woff"), url("../fonts/UbuntuItalic/UbuntuItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuLight";
  src: url("../fonts/UbuntuLight/UbuntuLight.eot");
  src: url("../fonts/UbuntuLight/UbuntuLight.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLight/UbuntuLight.woff") format("woff"), url("../fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuLightItalic";
  src: url("../fonts/UbuntuLightItalic/UbuntuLightItalic.eot");
  src: url("../fonts/UbuntuLightItalic/UbuntuLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLightItalic/UbuntuLightItalic.woff") format("woff"), url("../fonts/UbuntuLightItalic/UbuntuLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuMedium";
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot");
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMedium/UbuntuMedium.woff") format("woff"), url("../fonts/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuMediumItalic";
  src: url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.eot");
  src: url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.woff") format("woff"), url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuBoldItalic";
  src: url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.eot");
  src: url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.woff") format("woff"), url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.eot");
  src: url("../fonts/gagalin-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.eot");
  src: url("../fonts/lifehack_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 13px; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

li {
  list-style-type: none; }

.wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
  overflow: hidden; }

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: block;
  background-color: #999999; }

.intro {
  margin: 0 auto; }

.container {
  width: 95%;
  max-width: 940px;
  padding: 0;
  margin: 0 auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main-title {
  text-transform: uppercase;
  font-family: 'gagalinregular';
  font-size: 4.5rem;
  color: #f9b43b; }

.greeting {
  background: url("../image/bg/bg-1.png") center center no-repeat;
  background-size: cover;
  padding-top: 0.75rem;
  position: relative; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__logo {
  width: 5.625rem;
  height: 4.375rem; }

.logo__link {
  display: block; }

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav__link {
  text-transform: uppercase;
  font-family: "UbuntuMedium", sans-serif;
  font-size: 0.8125rem;
  color: #ffffff;
  text-decoration: none;
  margin: 0.625rem; }

.nav__order {
  display: block;
  background-color: #e45028;
  padding: 0.9375rem;
  border-radius: 0.25rem;
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s; }
  .nav__order:hover {
    background-color: #c1401e; }

.greeting__intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .greeting__intro {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.greeting__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.nav__item:not(:last-child):after {
  display: inline-block;
  content: "•";
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 50%;
  color: #ffffff; }

.greeting__first {
  padding-top: 7.1875rem; }
  @media screen and (max-width: 768px) {
    .greeting__first {
      text-align: center;
      padding-top: 2.5rem; } }
  @media screen and (max-width: 480px) {
    .greeting__first {
      padding-top: 3.125rem; } }

.greeting__second {
  font-family: 'lifehackmedium';
  font-size: 4.0625rem;
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .greeting__second {
      text-align: center; } }

.greeting__pic {
  display: inline-block;
  position: relative;
  max-height: 100%;
  width: 28.25rem; }

.arrow {
  position: absolute;
  bottom: 2.625rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.arrow__pic {
  width: 1.8125rem;
  height: 0.875rem;
  display: inline-block; }

@media screen and (max-width: 768px) {
  .nav__menu {
    display: none; } }

.best {
  background: url("../image/bg/bg-2.png") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.about__best {
  text-align: center;
  color: #000000;
  padding-bottom: 3.75rem; }
  @media screen and (max-width: 768px) {
    .about__best {
      padding-bottom: 10rem; } }
  @media screen and (max-width: 480px) {
    .about__best {
      padding-bottom: 5rem;
      font-size: 3.125rem; } }

@media screen and (max-width: 480px) {
  .about__container {
    margin-left: 1.5625rem; } }

.about-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .about-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.about__item {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .about__item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .about__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-bottom: 2.8125rem; }
      .about__item:last-child {
        margin-bottom: 0.3125rem; } }

.about__head {
  margin-bottom: 2.1875rem;
  min-width: 6.25rem;
  height: 4.6875rem; }
  @media screen and (max-width: 480px) {
    .about__head {
      margin-right: 1.5625rem; } }

.about__title {
  font-family: 'lifehackmedium';
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 1.25rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .about__title {
      text-align: left;
      margin-bottom: 0.9375rem; } }

.about__text {
  font-family: "UbuntuLight";
  font-size: 0.875rem;
  color: #000000;
  line-height: 1.5rem; }
  @media screen and (max-width: 480px) {
    .about__text {
      text-align: left; } }

.feeds__container {
  width: 100%;
  height: 100%; }

.feeds__personal {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.feeds__block {
  background: no-repeat center/cover;
  width: 25vh;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 25%;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  position: relative; }
  .feeds__block:hover .feeds__about {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .feeds__block {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
      flex: 1 0 50%; } }

.feeds__about {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: rgba(20, 20, 20, 0.7);
  height: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 1.3s;
  -o-transition: opacity 1.3s;
  transition: opacity 1.3s; }

.feeds__name {
  font-family: 'gagalinregular';
  font-size: 0.875rem;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 2.1875rem; }

.feeds__text {
  font-family: "UbuntuLight";
  font-size: 0.875rem;
  color: #ffffff;
  overflow: hidden; }

.feeds__button {
  font-family: "UbuntuMedium";
  font-size: 0.8125rem;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  background-color: #2f3234;
  padding: 0.8125rem 1.75rem;
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .feeds__button:hover {
    background-color: #1f2122; }

.pagination {
  position: fixed;
  right: 3.125rem;
  top: 5rem;
  z-index: 100; }
  .pagination__item {
    list-style-type: none;
    padding: 0.5rem; }
  @media screen and (max-width: 768px) {
    .pagination {
      display: none; } }

.pagination__link {
  position: relative;
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  background-color: #ffffff;
  border-radius: 50%; }
  .pagination__link:hover:after {
    content: "";
    position: absolute;
    top: -0.375rem;
    left: -0.375rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.0625rem solid #ffffff; }
  .pagination__link_active:after {
    content: "";
    position: absolute;
    top: -0.375rem;
    left: -0.375rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.0625rem solid #ffffff; }

.team {
  background-color: #999999;
  background: url("../image/bg/bg-team.png") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding-left: 4.375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .team__container {
      width: 100%;
      padding: 0;
      left: 0; } }

.team__title {
  margin-bottom: 5.625rem; }
  @media screen and (max-width: 768px) {
    .team__title {
      margin-bottom: 8.125rem;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .team__title {
      font-size: 3.125rem;
      margin-bottom: rem 100px; } }

@media screen and (max-width: 768px) {
  .team-acco {
    padding: 0;
    width: 45%;
    margin: auto; } }

@media screen and (max-width: 480px) {
  .team-acco {
    width: 70%; } }

.team-acco__trigger {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'gagalinregular';
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
  white-space: nowrap; }
  .team-acco__trigger:before {
    content: "";
    height: 0;
    width: 0;
    border: 0.5625rem solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0;
    margin-right: 0.3125rem;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s; }
  @media screen and (max-width: 768px) {
    .team-acco__trigger {
      font-size: 1.5625rem;
      margin: auto; } }

.team-acco__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s; }

.team-acco__item {
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .team-acco__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align: center; } }
  .team-acco__item:hover .team-acco__trigger {
    color: #f9b43b; }
    .team-acco__item:hover .team-acco__trigger::before {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  .team-acco__item:hover .team-acco__content {
    height: 100%; }
    @media screen and (max-width: 768px) {
      .team-acco__item:hover .team-acco__content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.team-acco__item-active .team-acco__trigger {
  color: #f9b43b; }
  .team-acco__item-active .team-acco__trigger::before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  @media screen and (max-width: 768px) {
    .team-acco__item-active .team-acco__trigger {
      font-size: 1.5625rem;
      margin: auto; } }

.team-acco__item-active .team-acco__content {
  height: 100%; }
  @media screen and (max-width: 768px) {
    .team-acco__item-active .team-acco__content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.team-acco__picture {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.5rem; }
  @media screen and (max-width: 768px) {
    .team-acco__picture {
      margin: 0.625rem auto; } }

.team-acco__pic {
  max-width: 100%;
  height: 100%; }

.team-acco__text {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "UbuntuBold";
  font-size: 0.875rem; }
  .team-acco__text-content {
    font-family: "UbuntuRegular"; }
    @media screen and (max-width: 768px) {
      .team-acco__text-content {
        text-align: center; } }

.menu {
  background: url("../image/bg/bg-menu.png") center center no-repeat;
  background-size: cover;
  position: relative; }

.menu__container {
  width: 100vh; }

.menu-acc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh; }

.menu-acc__title {
  position: absolute;
  margin: 0;
  top: 50%;
  display: inline-block;
  -webkit-transform: translateY(-50%) translateX(-35%) rotate(-90deg);
  -ms-transform: translateY(-50%) translateX(-35%) rotate(-90deg);
  transform: translateY(-50%) translateX(-35%) rotate(-90deg); }
  @media screen and (max-width: 768px) {
    .menu-acc__title {
      top: 80%; } }

.menu-acc__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 58.75rem;
  position: relative; }
  @media screen and (max-width: 768px) {
    .menu-acc__item {
      max-width: 46.25rem; } }
  @media screen and (max-width: 480px) {
    .menu-acc__item {
      max-width: 28.125rem; } }
  .menu-acc__item:hover .menu-acc__text {
    width: 43.75rem;
    padding: 3rem; }
    @media screen and (max-width: 768px) {
      .menu-acc__item:hover .menu-acc__text {
        width: 31.25rem; } }
    @media screen and (max-width: 480px) {
      .menu-acc__item:hover .menu-acc__text {
        max-width: 20rem; } }

.menu-acc__cont {
  width: 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu-acc__cont-meat {
    background: url("../../image/content/meatlove.png") center center no-repeat;
    background-size: cover; }
  .menu-acc__cont-vegan {
    background: url("../../image/content/vegan.png") center center no-repeat;
    background-size: cover; }
  .menu-acc__cont-diet {
    background: url("../../image/content/diet.png") center center no-repeat;
    background-size: cover; }

.menu-acc__link {
  display: block;
  width: 5rem;
  height: 100vh;
  white-space: nowrap; }

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .menu__title {
      left: 1.25rem;
      top: 7.5rem; } }
  @media screen and (max-width: 480px) {
    .menu__title {
      left: 3.75rem;
      top: 3.625rem;
      font-size: 3.125rem; } }

.menu-acc__link {
  text-transform: uppercase;
  font-family: 'gagalinregular';
  font-size: 2.5rem;
  color: #ffffff;
  text-decoration: none; }

.menu-acc__text {
  font-family: "UbuntuRegular";
  font-size: 0.875rem;
  line-height: 2.5;
  color: #ffffff;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  width: 0;
  overflow: hidden;
  padding: 0;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s; }

.menu-acc__text-active {
  width: 55rem;
  padding: 3rem; }

.order-form {
  background: url("../../image/bg/bg-form.png") center center no-repeat;
  background-size: cover; }

.form-container {
  background: url("../../image/bg/bg-texture.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

@media screen and (max-width: 768px) {
  .form-title {
    margin-bottom: 4.6875rem;
    text-align: center; } }

@media screen and (max-width: 480px) {
  .form-title {
    font-size: 3.125rem;
    margin-bottom: 2.1875rem;
    text-align: center; } }

.form__elem {
  width: 50%;
  margin-right: 1.25rem; }
  .form__elem:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__elem {
      width: 100%;
      padding: 0 20%;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .form__elem {
      padding: 0 5%; } }

.form__block-title {
  color: #ffffff;
  font-family: "UbuntuLight";
  font-size: 0.875rem;
  margin-bottom: 0.625rem; }
  .form__block-title-radio {
    position: relative; }
    .form__block-title-radio::before {
      content: "";
      width: 0.9375rem;
      height: 0.9375rem;
      border-radius: 50%;
      border: none;
      background: #ffffff;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5rem; }
    .form__block-title-radio::after {
      content: "";
      width: 0.4375rem;
      height: 0.4375rem;
      border-radius: 50%;
      background: #e45028;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: 0.25rem;
      top: 50%;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
      transform: translateY(-30%);
      opacity: 0; }
  .form__block-title-checkbox {
    position: relative; }
    .form__block-title-checkbox::before {
      content: "";
      width: 0.9375rem;
      height: 0.9375rem;
      border: none;
      background: #ffffff;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5rem; }
    .form__block-title-checkbox::after {
      content: "✔";
      color: #e45028;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: 0.125rem;
      top: 50%;
      -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
      transform: translateY(-40%);
      opacity: 0; }

.input-radio {
  position: absolute;
  opacity: 0; }
  .input-radio:checked + .form__block-title::after {
    opacity: 1; }

.input-checkbox {
  position: absolute;
  opacity: 0; }
  .input-checkbox:checked + .form__block-title::after {
    opacity: 1; }

.form__input {
  border: 0.0625rem solid transparent;
  outline: none;
  border-radius: 0.25rem;
  padding: 0.625rem;
  font-family: "UbuntuRegular";
  font-size: 0.875rem;
  color: #000000;
  width: 100%;
  margin-bottom: 1.25rem; }
  .form__input:focus {
    border: 0.0625rem solid #0099FF; }

.form__textarea {
  resize: none;
  height: 8.85714rem;
  width: 100%;
  padding: 0.3125rem; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }
  .form__row:last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    .form__row {
      margin-bottom: 0.625rem; } }
  @media screen and (max-width: 480px) {
    .form__row {
      margin-bottom: 1.25rem; } }
  @media screen and (max-width: 480px) {
    .form__row_radio {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.form__row_checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .form__row_checkbox {
      text-align: center; } }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }
  .form__block_radio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none; }

.form__row_buttons {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none; }
  @media screen and (max-width: 480px) {
    .form__row_buttons {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.nav__link_form {
  margin: 0;
  padding: 0.9375rem 0.75rem;
  margin-right: 1.25rem; }
  .nav__link_form:last-child {
    margin-right: 0; }
  .nav__link_form-clear {
    text-transform: none; }

.map-section {
  background: url("../../image/bg/bg-map.png") center center no-repeat;
  background-size: cover;
  position: relative;
  width: 100%; }

.footer {
  background: url("../../image/bg/bg-footer.jpg") center center no-repeat;
  background-size: cover;
  height: 5.625rem;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 7.1875rem; } }

.footer__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 58.75rem; }
  @media screen and (max-width: 768px) {
    .footer__contacts {
      padding: 0 1.5rem; } }
  @media screen and (max-width: 480px) {
    .footer__contacts {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__contacts-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }
  @media screen and (max-width: 480px) {
    .footer__contacts-info {
      text-align: center;
      padding-top: 1.25rem; } }

@media screen and (max-width: 480px) {
  .footer__addres {
    margin-top: 0.625rem; } }

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: right; }
  @media screen and (max-width: 480px) {
    .footer__social {
      text-align: center; } }

.social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .social__list {
      padding: 0;
      margin: 0;
      margin-top: 1.25rem; } }

.social__item {
  margin: 0.3125rem; }

.social__link_icon {
  fill: #585858;
  height: 1.25rem;
  width: 1.25rem;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s; }
  .social__link_icon:hover {
    fill: #ffffff; }

.footer__address {
  color: #ffffff;
  font-family: "UbuntuLight";
  font-size: 0.875rem; }

.footer__phone {
  font-family: "UbuntuBold";
  font-size: 0.875rem;
  color: #e45028;
  text-decoration: none; }

.phone__link_icon {
  fill: #e35028;
  height: 1rem;
  width: 0.8125rem; }

/*# sourceMappingURL=main.css.map */