@charset "UTF-8";
@font-face {
  font-family: "UbuntuRegular";
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"), url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuBold";
  src: url("../fonts/UbuntuBold/UbuntuBold.eot");
  src: url("../fonts/UbuntuBold/UbuntuBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBold/UbuntuBold.woff") format("woff"), url("../fonts/UbuntuBold/UbuntuBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuItalic";
  src: url("../fonts/UbuntuItalic/UbuntuItalic.eot");
  src: url("../fonts/UbuntuItalic/UbuntuItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuItalic/UbuntuItalic.woff") format("woff"), url("../fonts/UbuntuItalic/UbuntuItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuLight";
  src: url("../fonts/UbuntuLight/UbuntuLight.eot");
  src: url("../fonts/UbuntuLight/UbuntuLight.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLight/UbuntuLight.woff") format("woff"), url("../fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuLightItalic";
  src: url("../fonts/UbuntuLightItalic/UbuntuLightItalic.eot");
  src: url("../fonts/UbuntuLightItalic/UbuntuLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLightItalic/UbuntuLightItalic.woff") format("woff"), url("../fonts/UbuntuLightItalic/UbuntuLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuMedium";
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot");
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMedium/UbuntuMedium.woff") format("woff"), url("../fonts/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuMediumItalic";
  src: url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.eot");
  src: url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.woff") format("woff"), url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuBoldItalic";
  src: url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.eot");
  src: url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.woff") format("woff"), url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.eot");
  src: url("../fonts/gagalin-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.eot");
  src: url("../fonts/lifehack_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden; }

.section {
  height: 100vh;
  min-height: 650px;
  display: block; }

.intro {
  margin: 0 auto; }

.container {
  width: 970px;
  padding: 0;
  margin: 0 auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.greeting {
  background-color: #999999;
  background: url("../image/bg/bg-1.png");
  background-size: cover;
  padding-top: 12px;
  position: relative; }

.header__container {
  width: 960px; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__logo {
  width: 90px;
  height: 70px; }

.logo__link {
  display: block; }

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none; }

.nav__link {
  text-transform: uppercase;
  font-family: "UbuntuMedium", sans-serif;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  margin: 10px; }

.nav__order {
  display: block;
  background-color: #e45028;
  padding: 15px;
  border-radius: 4px;
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s; }
  .nav__order:hover {
    background: #c1401e; }

.greeting__intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.greeting__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.nav__item:not(:last-child):after {
  display: inline-block;
  content: "•";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  color: #ffffff; }

.greeting__first {
  text-transform: uppercase;
  font-family: 'gagalinregular';
  font-size: 72px;
  color: #f9b43b; }

.greeting__second {
  font-family: 'lifehackmedium';
  font-size: 65px;
  color: #ffffff; }

.greeting__pic {
  min-width: 100%; }

.arrow {
  position: absolute;
  bottom: 42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.arrow__pic {
  width: 29px;
  height: 14px;
  display: inline-block; }

.best {
  background-color: #999999;
  background: url("../image/bg/bg-2.png");
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.about__best {
  text-align: center;
  text-transform: uppercase;
  font-family: 'gagalinregular';
  font-size: 72px;
  color: #000000;
  padding-bottom: 60px; }

.about-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.about__item {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.about__head {
  margin-bottom: 35px;
  width: 100px;
  height: 75px; }

.about__title {
  font-family: 'lifehackmedium';
  font-size: 24.1px;
  color: #000000;
  margin-bottom: 20px;
  text-align: center; }

.about__text {
  font-family: "UbuntuLight";
  font-size: 14.03px;
  color: #000000;
  line-height: 24.01px; }

.feeds {
  background-color: #999999; }

.feeds__container {
  width: 100%;
  height: 960px; }

.feeds__personal {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.feeds__block {
  background: no-repeat center/cover;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 25%;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  position: relative; }
  .feeds__block:hover .feeds__about {
    opacity: 1; }

.feeds__about {
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(20, 20, 20, 0.7);
  height: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 1.3s;
  -o-transition: opacity 1.3s;
  transition: opacity 1.3s; }

.feeds__name {
  font-family: 'gagalinregular';
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 35px; }

.feeds__text {
  font-family: "UbuntuLight";
  font-size: 14px;
  color: #ffffff; }

.feeds__button {
  font-family: "UbuntuMedium";
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #2f3234;
  padding: 13px 28px;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .feeds__button:hover {
    background-color: #1f2122; }

.pagination {
  position: fixed;
  right: 10vh;
  top: 10vh;
  z-index: 100; }
  .pagination__item {
    list-style-type: none;
    padding: 8px; }

.pagination__link {
  position: relative;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%; }
  .pagination__link:hover:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ffffff; }
  .pagination__link_active:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ffffff; }

/*# sourceMappingURL=main.css.map */