@charset "UTF-8";
@font-face {
  font-family: "UbuntuRegular";
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"), url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuBold";
  src: url("../fonts/UbuntuBold/UbuntuBold.eot");
  src: url("../fonts/UbuntuBold/UbuntuBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBold/UbuntuBold.woff") format("woff"), url("../fonts/UbuntuBold/UbuntuBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuItalic";
  src: url("../fonts/UbuntuItalic/UbuntuItalic.eot");
  src: url("../fonts/UbuntuItalic/UbuntuItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuItalic/UbuntuItalic.woff") format("woff"), url("../fonts/UbuntuItalic/UbuntuItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuLight";
  src: url("../fonts/UbuntuLight/UbuntuLight.eot");
  src: url("../fonts/UbuntuLight/UbuntuLight.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLight/UbuntuLight.woff") format("woff"), url("../fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuLightItalic";
  src: url("../fonts/UbuntuLightItalic/UbuntuLightItalic.eot");
  src: url("../fonts/UbuntuLightItalic/UbuntuLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLightItalic/UbuntuLightItalic.woff") format("woff"), url("../fonts/UbuntuLightItalic/UbuntuLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuMedium";
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot");
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMedium/UbuntuMedium.woff") format("woff"), url("../fonts/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuMediumItalic";
  src: url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.eot");
  src: url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.woff") format("woff"), url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuBoldItalic";
  src: url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.eot");
  src: url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.woff") format("woff"), url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.eot");
  src: url("../fonts/gagalin-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.eot");
  src: url("../fonts/lifehack_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

li {
  list-style-type: none; }

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden; }

.section {
  height: 100vh;
  min-height: 650px;
  display: block;
  background-color: #999999; }

.intro {
  margin: 0 auto; }

.container {
  width: 970px;
  padding: 0;
  margin: 0 auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main-title {
  text-transform: uppercase;
  font-family: 'gagalinregular';
  font-size: 72px;
  color: #f9b43b; }

.greeting {
  background: url("../image/bg/bg-1.png") center center no-repeat;
  background-size: cover;
  padding-top: 12px;
  position: relative; }

.header__container {
  width: 960px; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__logo {
  width: 90px;
  height: 70px; }

.logo__link {
  display: block; }

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav__link {
  text-transform: uppercase;
  font-family: "UbuntuMedium", sans-serif;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  margin: 10px; }

.nav__order {
  display: block;
  background-color: #e45028;
  padding: 15px;
  border-radius: 4px;
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s; }
  .nav__order:hover {
    background: #c1401e; }

.greeting__intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.greeting__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.nav__item:not(:last-child):after {
  display: inline-block;
  content: "•";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  color: #ffffff; }

.greeting__second {
  font-family: 'lifehackmedium';
  font-size: 65px;
  color: #ffffff; }

.greeting__pic {
  display: block;
  min-width: 100%; }

.arrow {
  position: absolute;
  bottom: 42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.arrow__pic {
  width: 29px;
  height: 14px;
  display: inline-block; }

.best {
  background: url("../image/bg/bg-2.png");
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.about__best {
  text-align: center;
  color: #000000;
  padding-bottom: 60px; }

.about-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.about__item {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }
  .about__item:last-child {
    margin-right: 0; }

.about__head {
  margin-bottom: 35px;
  width: 100px;
  height: 75px; }

.about__title {
  font-family: 'lifehackmedium';
  font-size: 24.1px;
  color: #000000;
  margin-bottom: 20px;
  text-align: center; }

.about__text {
  font-family: "UbuntuLight";
  font-size: 14.03px;
  color: #000000;
  line-height: 24.01px; }

.feeds__container {
  width: 100%;
  height: 960px; }

.feeds__personal {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.feeds__block {
  background: no-repeat center/cover;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 25%;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  position: relative; }
  .feeds__block:hover .feeds__about {
    opacity: 1; }

.feeds__about {
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(20, 20, 20, 0.7);
  height: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 1.3s;
  -o-transition: opacity 1.3s;
  transition: opacity 1.3s; }

.feeds__name {
  font-family: 'gagalinregular';
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 35px; }

.feeds__text {
  font-family: "UbuntuLight";
  font-size: 14px;
  color: #ffffff; }

.feeds__button {
  font-family: "UbuntuMedium";
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #2f3234;
  padding: 13px 28px;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .feeds__button:hover {
    background-color: #1f2122; }

.pagination {
  position: fixed;
  right: 10vh;
  top: 10vh;
  z-index: 100; }
  .pagination__item {
    list-style-type: none;
    padding: 8px; }

.pagination__link {
  position: relative;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%; }
  .pagination__link:hover:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ffffff; }
  .pagination__link_active:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ffffff; }

.team {
  background-color: #999999;
  background: url("../image/bg/bg-team.png") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding-left: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.team__title {
  margin-bottom: 90px; }

.team-acco__trigger {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'gagalinregular';
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s; }
  .team-acco__trigger:before {
    content: "";
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0;
    margin-right: 5px;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s; }

.team-acco__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s; }

.team-acco__item {
  margin-bottom: 20px; }
  .team-acco__item:hover .team-acco__trigger {
    color: #f9b43b; }
    .team-acco__item:hover .team-acco__trigger::before {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  .team-acco__item:hover .team-acco__content {
    height: 100%; }

.team-acco__item-active .team-acco__trigger {
  color: #f9b43b; }
  .team-acco__item-active .team-acco__trigger::before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.team-acco__item-active .team-acco__content {
  height: 100%; }

.team-acco__picture {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.5rem; }

.team-acco__pic {
  max-width: 100%;
  height: 100%; }

.team-acco__text {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "UbuntuBold";
  font-size: 14px; }
  .team-acco__text-content {
    font-family: "UbuntuRegular"; }

.menu {
  background: url("../image/bg/bg-menu.png") center center no-repeat;
  background-size: cover;
  position: relative; }

.menu__container {
  width: 100vh; }

.menu-acc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh; }

.menu-acc__title {
  margin: 0;
  display: block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.menu-acc__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 60rem; }
  .menu-acc__item:hover .menu-acc__text {
    width: 55rem;
    z-index: 100;
    padding: 3rem; }

.menu-acc__cont {
  width: 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu-acc__cont-meat {
    background: url("../../image/content/meatlove.png") center center no-repeat;
    background-size: cover; }
  .menu-acc__cont-vegan {
    background: url("../../image/content/vegan.png") center center no-repeat;
    background-size: cover; }
  .menu-acc__cont-diet {
    background: url("../../image/content/diet.png") center center no-repeat;
    background-size: cover; }

.menu-acc__link {
  display: block;
  width: 5rem;
  height: 100vh;
  white-space: nowrap; }

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #ffffff; }

.menu-acc__link {
  text-transform: uppercase;
  font-family: 'gagalinregular';
  font-size: 40px;
  color: #ffffff;
  text-decoration: none; }

.menu-acc__text {
  font-family: "UbuntuRegular";
  font-size: 14px;
  line-height: 2.5;
  color: #ffffff;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  width: 0;
  overflow: hidden;
  padding: 0;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s; }

.order-form {
  background: url("../../image/bg/bg-form.png") center center no-repeat;
  background-size: cover; }

.form-container {
  background: url("../../image/bg/bg-texture.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.form {
  margin-top: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__elem {
  width: 50%;
  margin-right: 20px; }
  .form__elem:last-child {
    margin-right: 0; }

.form__block-title {
  color: #ffffff;
  font-family: "UbuntuLight";
  font-size: 14px;
  margin-bottom: 10px; }
  .form__block-title-radio {
    position: relative; }
    .form__block-title-radio::before {
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: none;
      background: #ffffff;
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px; }
    .form__block-title-radio::after {
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #e45028;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: 4px;
      top: 50%;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
      transform: translateY(-30%);
      opacity: 0; }
  .form__block-title-checkbox {
    position: relative; }
    .form__block-title-checkbox::before {
      content: "";
      width: 15px;
      height: 15px;
      border: none;
      background: #ffffff;
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px; }
    .form__block-title-checkbox::after {
      content: "✔";
      color: #e45028;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: 2px;
      top: 50%;
      -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
      transform: translateY(-40%);
      opacity: 0; }

.input-radio {
  position: absolute;
  opacity: 0; }
  .input-radio:checked + .form__block-title::after {
    opacity: 1; }

.input-checkbox {
  position: absolute;
  opacity: 0; }
  .input-checkbox:checked + .form__block-title::after {
    opacity: 1; }

.form__input {
  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;
  padding: 10px;
  font-family: "UbuntuRegular";
  font-size: 14px;
  color: #000000;
  width: 100%;
  margin-bottom: 20px; }
  .form__input:focus {
    border: 1px solid #0099FF; }

.form__textarea {
  resize: none;
  height: 8.85714rem;
  width: 100%;
  padding: 5px; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
  .form__row:last-child {
    margin-bottom: 0; }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }
  .form__block_radio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none; }

.form__row_buttons {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none; }

.nav__link_form {
  margin: 0;
  padding: 15px 12px;
  margin-right: 20px; }
  .nav__link_form:last-child {
    margin-right: 0; }
  .nav__link_form-clear {
    text-transform: none; }

.map-section {
  background: url("../../image/bg/bg-map.png") center center no-repeat;
  background-size: cover; }

/*# sourceMappingURL=main.css.map */