.best {
    background-color: $grey;
    background: url("../image/bg/bg-2.png");
    background-size: cover;
    display: flex;
    align-items: center;
}
.about__best {
    text-align: center;
    text-transform: uppercase;
    font-family: 'gagalinregular';
    font-size: 72px;
    color: $black;
    padding-bottom: 60px;
}
.about-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.about__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
}
.about__head {
    margin-bottom: 35px;
    width: 100px;
    height: 75px;
}
.about__title {
    font-family: 'lifehackmedium';
    font-size: 24.1px;
    color: $black;
    margin-bottom: 20px;
    text-align: center;
}
.about__text {
    font-family: "UbuntuLight";
    font-size: 14.03px;
    color: $black;
    line-height: 24.01px;
}