.best {
  background-color: grey;
  background: url("../image/bg/bg-2.png");
  background-size: cover;
  padding-top: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  
