.greeting {
    background-color: grey;
    background: url("../image/bg/bg-1.png");
    background-size: cover;
    padding-top: 12px;
    box-sizing: border-box;
    position: relative;
}
.header__container {
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    width: 90px;
    height: 70px;
}
.logo__link {
    display: block;
}
.header__nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    list-style-type: none;
}
.nav__link {
    text-transform: uppercase;
    font-family: "UbuntuMedium", sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
}
.nav__order {
    display: block;
    background-color: #e45028;
    padding: 15px;
    border-radius: 4px;
    transition: 1.3s;
    &:hover {
        background: #c1401e;
      }
}
.greeting__intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}
.greeting__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.nav__item:not(:last-child):after {
    display: inline-block;
    content: "•";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    color: #ffffff;

}
.greeting__first {
    text-transform: uppercase;
    font-family: 'gagalinregular';
    font-size: 72px;
    color: #f9b43b;
}
.greeting__second {
    font-family: 'lifehackmedium';
    font-size: 65px;
    color: #fff;
}
.greeting__pic {
    min-width: 100%;
}
.arrow {
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);
}
.arrow__pic {
    width: 29px;
    height: 14px;
    display: inline-block;
}
