.map-section {
    background: url('../image/bg/bg-map.png') center center no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}
.footer {
    background: url('../image/bg/bg-footer.jpg') center center no-repeat;
    background-size: cover;
    height: rem(90px);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;

    @include phones {
        height: rem(115px);
    }
}
.footer__contacts {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    width: rem(940px);

    @include tablets {
        padding: 0 rem(24px);
    }
    @include phones {
        flex-direction: column;
    }
}
.footer__contacts-info {
    display: flex;
    flex-direction: column;
    flex: 2;

    @include phones {
        text-align: center;
        padding-top: rem(20px);
    }
}
.footer__addres {
    @include phones {
        margin-top: rem(10px);
    }
}
.footer__social {
    display: flex;
    text-align: right;

    @include phones {
        text-align: center;
    }
}
.social__list {
    display: flex;

    @include phones {
    padding: 0;
    margin: 0;
    margin-top: rem(20px);
    }
}
.social__item {
    margin: rem(5px);
}
.social__link_icon {
    fill: #585858;
    height: rem(20px);
    width: rem(20px);
    transition: .8s;

    &:hover {
        fill: $white;
    }
}
.footer__address {
    color: $white;
    font-family: "UbuntuLight";
    font-size: rem(14px);

}
.footer__phone {
    font-family: "UbuntuBold";
    font-size: rem(14px);
    color: #e45028;
    text-decoration: none;
}
.phone__link_icon {
    fill: #e35028;
    height: rem(16px);
    width: rem(13px);
}
