.pagination {
  position: fixed;
  right: 6.3%;
  top: 90px;
  z-index: 10; }
  .pagination-list {
    list-style: none; }
    .pagination-list__item {
      margin-bottom: 5px; }
    .pagination-list__link {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      position: relative;
      width: 16px;
      height: 16px;
      border: 1px solid transparent;
      border-radius: 50%; }
      .pagination-list__link:hover, .pagination-list__link_active {
        border-color: #ffffff; }
      .pagination-list__link:before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 6px;
        height: 6px;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #ffffff; }
