.pagination {
    position: fixed;
    right: rem(50px);
    top: rem(80px);
    z-index: 100;
    &__item {
        list-style-type: none;
        padding: rem(8px);
    }

    @include tablets {
        display: none;
    }
  }
.pagination__link {
      position: relative;
      display: block;
      width: rem(6px);
      height: rem(6px);
      background-color: $white;
      border-radius: 50%;
        &:hover:after {
            content: "";
            position: absolute;
            top: rem(-6px);
            left: rem(-6px);
            width: rem(16px);
            height: rem(16px);
            border-radius: 50%;
            border: rem(1px) solid $white;
        }
        &_active:after {
            content: "";
            position: absolute;
            top: rem(-6px);
            left: rem(-6px);
            width: rem(16px);
            height: rem(16px);
            border-radius: 50%;
            border: rem(1px) solid $white;}
}
