.team {
    background-color: $grey;
    background: url("../image/bg/bg-team.png") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}
.team__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding-left: rem(70px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablets {
        width: 100%;
        padding: 0;
        left: 0;

    }
}
.team__title {
    margin-bottom: rem(90px);

    @include tablets {
    margin-bottom: rem(130px);
    text-align: center;
    }
    @include phones {
        font-size: rem(50px);
        margin-bottom: rem (100px); 
    
    }
}
.team-acco {

    @include tablets {
    padding: 0;
    width: 45%;
    margin: auto;
    }
    @include phones {
        width: 70%;
    }
}
.team-acco__trigger {
    color: $white;
    display: flex;
    align-items: center;
    font-family: 'gagalinregular';
    font-size: rem(14px);
    text-decoration: none;
    text-transform: uppercase;
    transition: .8s;
    white-space: nowrap;

    &:before {
        content: "";
        height: 0;
        width: 0;
        border: rem(9px) solid transparent;
        border-top-color: $yellow;
        border-bottom-width: 0; 
        margin-right: rem(5px);
        transition: .8s;
    }

    @include tablets {
        font-size: rem(25px);
        margin: auto;
    }
}
.team-acco__content {
    display: flex;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: .8s;
    }
.team-acco__item {
    margin-bottom: rem(20px);
    

    @include tablets {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    &:hover {
    .team-acco__trigger {
        color: $yellow;
        &::before {
            transform: rotate(-180deg);
        }
    }
    .team-acco__content {
        height: 100%;

        @include tablets {
            display: flex;
            flex-wrap: wrap;
        }
    }
}    
}
.team-acco__item-active {
    .team-acco__trigger {
        color: $yellow;
        &::before {
            transform: rotate(-180deg);
        }
        @include tablets {
            font-size: rem(25px);
            margin: auto;
        }
    }
    .team-acco__content {
        height: 100%;
        @include tablets {
            display: flex;
            flex-wrap: wrap;
    
        }
    }
}
.team-acco__picture {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1.5rem;

    @include tablets {
        margin: rem(10px) auto;
    }
    
}
.team-acco__pic {
    max-width: 100%;
    height: 100%;
}
.team-acco__text {
    color: $white;
    display: flex;
    flex-direction: column;
    font-family: "UbuntuBold";
    font-size: rem(14px);
    // &-title {
    //     @include tablets {
    //         text-align: center;
    //     }
    // }
    &-content {
        font-family: "UbuntuRegular";
        @include tablets {
            text-align: center;
        }
    }

}
 
