.team {
    background-color: $grey;
    background: url("../image/bg/bg-team.png") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}
.team__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding-left: rem(70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team__title {
    margin-bottom: rem(90px);
}
.team-acco__trigger {
    color: $white;
    display: flex;
    align-items: center;
    font-family: 'gagalinregular';
    font-size: rem(14px);
    text-decoration: none;
    text-transform: uppercase;
    transition: .8s;

    &:before {
        content: "";
        height: 0;
        width: 0;
        border: rem(9px) solid transparent;
        border-top-color: $yellow;
        border-bottom-width: 0; 
        margin-right: rem(5px);
        transition: .8s;
    }
}
.team-acco__content {
    display: flex;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: .8s;
    }
.team-acco__item {
    margin-bottom: rem(20px);

    &:hover {
    .team-acco__trigger {
        color: $yellow;
        &::before {
            transform: rotate(-180deg);
        }
    }
    .team-acco__content {
        height: 100%;
    }
}    
}
.team-acco__item-active {
    .team-acco__trigger {
        color: $yellow;
        &::before {
            transform: rotate(-180deg);
        }
    }
    .team-acco__content {
        height: 100%;
    }
}
.team-acco__picture {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1.5rem;
    
}
.team-acco__pic {
    width: 100%;
    height: 100%;
}
.team-acco__text {
    color: $white;
    display: flex;
    width: rem(240px);
    flex-direction: column;
    font-family: "UbuntuBold";
    font-size: rem(14px);
    &-content {
        font-family: "UbuntuRegular";
}
}
 
