html {
    font-size: 16px;

    @include tablets {
        font-size: 15px;
    }
    @include phones {
        font-size: 14px;
    }
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
li {
    list-style-type: none;
}
.wrapper {
    width: 100%;
    position: relative;
    min-height: 100%;
    overflow: hidden;
}
.section {
    height: 100vh;
    min-height: rem(650px);
    display: block;
    background-color: $grey;

}
.intro {
    margin: 0 auto;
}
.container {
    width: 95%;
    max-width: 940px;
    padding: 0;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
.main-title {
    text-transform: uppercase;
    font-family: 'gagalinregular';
    font-size: rem(72px);
    color: $yellow;
}